.container{
    color: var(--color-font);
}
.title{
    text-align: center;
}
.instruction{
    margin-bottom: 10px;
}
.instruction a{
    text-decoration: none;
    color: var(--color-font);
}
.instruction a:hover {
    color: #06c895;
}
.publicationExample{
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
    padding: 10px;
}

.counts{
    border: 1px solid #06c895;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.block{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countTitle{
    text-align: center;
}

.count{
    font-size: 44px;
    color: #06c895;
}