.block{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    padding: 10px;
    margin: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}
.block a{
    text-decoration: none;
    color: black;
}

.block a:hover{
    color: #06c895;
}

.authors{
    font-size: 16px;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #000;
    border-radius: 10px;
}

.authors a{
    color: black;
    text-decoration: none;
}
.authors a:hover{
    color: #06c895;
}

.country .city{
    display: inline-block;
}

.keywords{
    display: inline-block;
}

