
.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.image {
    width: 20px;
    height: 20px;
    filter: var(--filter);
    border-radius: 0px;
}

.modal__content {
    padding: 20px;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    background-color: white;
    width: 50vw;
    transform: scale(0.5);
    transition: 0.4s all;

}

.modal__content.active {
    transform: scale(1);

}