
.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 99;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.image {
    width: 20px;
    height: 20px;
    filter: var(--filter);
    border-radius: 0px;
}

.modal__content {
    padding: 20px;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    background-color: white;
    width: 410px;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal__content.active {
    transform: scale(1);

}

.input {
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.line {
    display: inline-flex;
    gap: 10px;
}

.title {
    text-align: center;
}

@media (max-width: 1201px) {
    .form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .title {
        text-align: left;
    }

    .input {
        width: 60vw;
    }

    .line {
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: wrap

    }

    .modal__content {
        width: 60vw;
    }
}