.appWrapperNavbar{
    grid-area: n;
    margin: 25px auto;
}

.item {
    display: inline-block;
    font-size:max(1em, min(4em, 1.333vw));
    font-family: Arial;
}

.item a {
    color: black;
    text-decoration: none;
    padding: 0 20px 0px 20px;
}

.item a.active {
    color: orangered;
}