.appWrapperNavbar {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
}

.item + .item {
    margin-left: 30px;
}

.item {
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.item a {
    color: black;
    text-decoration: none;
}

.item a.active{
    color: #06c895;
}

.item a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #06c895;
    content: "";
    transition: width 0.3s;
}

.item a:hover:after{
    width: 100%;
}

.btn {
    margin-left: 40px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid black;
    padding: 8px 20px;
    border-radius: 10px;
    background: white;
}

.menu {
    display: inline-flex;
    padding-top: 5px;
}

.burger {
    display: none;
}

@media (max-width: 991px) {


    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .burger span {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 2px;
        top: 9px;
    }

    .burger:before,
    .burger:after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
    }

    .burger:before {
        top: 0;
    }

    .burger:after {
        bottom: 0;
    }

    .menu {
        display: block;
        position: fixed;
        right: -150%;
        top: 0;
        width: 65%;
        height: 100%;
        background-color: white;
        color: black;
        padding: 20px 0px 0px 50px;
        transition: all 0.3s ease 0s;
    }

    .menu.active {
        right: 0;
        opacity: 1;
        visibility: visible;
    }


    .active {
        display: block;
    }


    .back {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 50%);
        transition: all 0.3s ease 0s;
    }


    .item {
        display: block;
        padding-top: 10px;
    }


    .item + .item {
        margin-left: 0px;
    }

    .btn {
        margin-left: 0px;
        margin-top: 20px;
    }
}