.app-wrapper {
    width: 100%;
    /*background-color: rgba(79, 143, 154, 0.27);*/
    padding-top: 12px;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.app-wrapper__container{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 15px 20px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-wrapper-content {
    flex: 1 1;
}

