.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
  "h n"
  "c c"
  "f f";

    grid-template-rows: 60px 5fr;
    grid-template-columns: 2fr 10fr;
}
.app-wrapper-content {
    grid-area: c;
    padding: 10px;
}
