.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 100%;
    min-height: 1px;
    grid-template-areas:
  "h n n"
  "c c c"
  "f f f";

    grid-template-rows: 70px 1fr 60px;
    grid-template-columns: 200px 1fr 50px;
}

.app-wrapper-content {
    grid-area: c;
    padding-left: 50px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
