@font-face {
  font-family: 'Aeroport';
  src: url(./assets/Aeroport.ttf);
}
@font-face {
  font-family: 'Aeroport-Bold';
  src: url(./assets/Aeroport-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: 'Aeroport-Medium';
  src: url(./assets/Aeroport-Medium.ttf);
}
@font-face {
  font-family: "Rajdhani";
  src: url(./assets/Rajdhani-Regular.ttf);
}


body {
  width: 100%;
  margin: 0;
  font-family: 'Aeroport', 'Rajdhani', --base-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-background: white;
  --color-font: black;

}

html[data-theme="dark"] {
  --color-background: black;
  --color-font: white;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
