.item {
    font-size: 16px;
    font-family: Arial;
    display: flex;
    flex-flow: column;
    padding-bottom: 7px;

}

.first::first-letter {
    text-transform: uppercase;
}

.line {
    display: inline-flex;
    text-transform: lowercase;
}

.item a {
    color: black;
    text-decoration: none;
}

.number {
    font-size: 16px;
}

.number li {
    display: inline-block;
}

