.item {

    font-size:max(1em, min(4em, 1.333vw));
    font-family: Arial;
    display: flex;
    flex-flow: column;
    padding-bottom: 7px;

}

.first::first-letter {
    text-transform: uppercase;
}

.line {
    display: inline-flex;
    text-transform: lowercase;
}

.item a {
    color: black;
    text-decoration: none;
}

.number {
    font-size:max(1em, min(4em, 1.333vw));
}

.number li {
    display: inline-block;
}

