.item {
    text-transform: lowercase;
    display: inline-flex;
}
.first::first-letter {
    text-transform: uppercase;
    display: inline-flex;
}
.author {
    font-size:max(1em, min(4em, 1.333vw));
}