.appWrapperNavbar {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-font);

}

.appWrapperNavbar a {
    color: var(--color-font);
}

.item + .item {
    margin-left: 30px;
}

.item {
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.item a {
    text-decoration: none;
}

.item a.active {
    color: #06c895;
}

.item a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #06c895;
    content: "";
    transition: width 0.3s;
}

.item a:hover:after {
    width: 100%;
}

.btn {
    margin-left: 40px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid;
    padding: 8px 20px;
    border-radius: 10px;
    background: none;
    color: var(--color-font);
}

.menu {
    display: inline-flex;
    padding-top: 5px;
}

.burger {
    display: none;
}

.image {
    width: 20px;
    height: 20px;
    filter: var(--filter);

}

@media (max-width: 991px) {

    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .burger span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 9px;
        background-color: var(--background);
    }

    .burger:before,
    .burger:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--background);
    }

    .burger:before {
        top: 0;
    }

    .burger:after {
        bottom: 0;
    }

    .menu {
        display: block;
        position: fixed;
        right: -150%;
        top: 0;
        width: 65%;
        height: 100%;
        padding: 20px 0px 0px 50px;
        transition: all 0.3s ease 0s;
        background-color: var(--color-background);
        color: var(--color-font);
        z-index: 5;
    }

    .menu.active {
        right: 0;
        opacity: 1;
        pointer-events: all;

    }


    .active {
        display: block;
    }


    .back {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-background-menu);
        transition: all 0.3s ease 0s;
    }


    .item {
        display: block;
        padding-top: 10px;
    }


    .item + .item {
        margin-left: 0px;
    }

    .btn {
        margin-left: 0px;
        margin-top: 20px;
    }
}