.block{
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 10px;
   }
.blockRating{
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 10px;
    width: 42vw;
}
.lineBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.theme{
    color: var(--color-font);
}
.theme a{
    color: var(--color-font);
}
@media (max-width: 991px) {
    .blockRating{
        width: 100vw;
        margin: 5px 0;
    }
    .block{
        margin: 5px 0;
    }
}