
.block {
    display: flex;
    flex-direction: column;
    grid-area: publications;
    margin-top: 10px;
}

.blocks {
    border: 1px solid;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    border-radius: 10px;
}

.block a {
    text-decoration: none;
}

.block a:hover {
    color: #06c895;
}

.authors .author{
    display: inline-block;
}

.author a:not(:last-child):after{
    content: ', ';
}


.container{
    display: grid;
    grid-template-areas:
            'search search'
            'filter publications'
            'pagination pagination';
    grid-auto-columns: 270px 930px;
    grid-auto-flow: dense;

    color: var(--color-font);
}

.container a{
    color: var(--color-font);
}
@media (max-width: 991px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}