
.block__image{
    width: 30%;
    max-width: 300px;
    max-height: 300px;
}
.public{

    display: block;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    font-size: 16px;
    border-radius: 10px;

}
.public a{
    text-decoration: none;
    color: black;
}
p{
    margin: 0px;
}

.public a:hover{
    color: #06c895;
}
.block{
    display: flex;
    padding-bottom: 15px;
    color: black;
    font-size: 18px;
}




.block__info{
    padding: 0px 30px;
}

.title{
    padding-bottom: 5px;
}

img{
    border-radius: 10px;
}

.block__text{
    margin-bottom: 10px;
}


.block__identifiers{
    margin-bottom: 10px;

}

